@import "../bootstrap/less/mixins";
@import "../bootstrap/less/grid";
@import "../bootstrap/less/variables";
@import "variables";
@import "mixins";

/*****************
******Header******
******************/
.accent-bar {
  height: 5px;
  background-color: @primary-color;
}

.nav-item {
  height: 60px;
  line-height: 60px;
  .ffOswald;
  font-size: 26px;
  a {
    color: @primary-color;
  }
}

.hr-container {
  padding: 0;
  hr {
    margin-top: 0px;
  }
}

.github-link {
  .ffOswald;
  height: 30px;
  font-size: 22px;
  img {
    width: 20px;
    height: 20px;
  }
  a {
    color: @primary-color;
  }
}

html, body {
  height: 100%;
}

#holder {
  min-height: 100%;
  position: relative;
}

#body{
  padding-bottom: 100px;
  .ffCrimson;
  h1, h2 {
    .ffOswald;
  }
  h2 {
    display: none;
  }
}

footer {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}